*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Beaufort for LOL', serif;
}
header{
    display: flex;
    background-color: rgb(18, 18, 18);
}
header figure img{
    max-width: 100px;
    padding: 1.5em 2em 1.5em 2em;
}
figure{
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

nav ul li{
    position: relative;
    padding: 3em 1.5em 1em 1.5em;
    color: white;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
}
a:hover{
    color: #d2ad48;
}
/*--------------------------------------------------------*/
.submenu{
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(41, 41, 41);
    z-index: 1000;
    gap: 8px;
    display: block;
}
.submenu a{
    display: block;
    padding: 10px 32px;
    color: white;
    text-align: center;
}
.submenu a:hover{
    background-color: rgb(18, 18, 18);
    color: #d2ad48;
}
.menu:hover .submenu{
    visibility: inherit;
}
/*--------------------------------------------------------*/
main figure img{
    min-width: 1477px;
    justify-content: center;
}
main h1{
    position: relative;
    top: -235px;
    text-align: center;
    font-size: 90px;
    color: #d2ad48;
}
main p{
    position: relative;
    top: -60px;
    text-align: center;
    padding: 1em 1em 1em 1em;
    margin: 0em 5em 0em 5em;
    border: 3px solid #d2ad48;
    font-size: 20px;
}
/*--------------------------------------------------------*/
main h2{
    text-align: center;
    font-size: 50px;
    padding-bottom: 1em;
    color: #d2ad48;
}
main div{
    border: 3px solid #d2ad48;
    margin: 0em 5em 3em 5em;
}

main div section{
    display: flex;
}
main h3{
    padding: 0.5em 0em 0.5em 3em;
    font-size: 30px;
}
main section img{
    min-width: 20px;
    padding: 0em 0em 2em 5em;
}
main section p{
    text-align: left;
    border: none;
    padding: 2.5em 0em 0em 0em;
}
/*--------------------------------------------------------*/
footer{
    background-color: rgb(18, 18, 18);
}
footer p{
    padding: 3em;
    color: white;
    text-align: center;
}
